p {
    font-family: 'Bitter', serif;
}

h2 {
    font-family: 'Jersey 15', serif;
    font-weight: 400;
}

.content-title {
    font-family: 'Press Start 2P', serif;
    font-weight: 400;
    text-align: center;
}

.project-content-block {
    display: flex;
    background-color: darkgreen;
    margin-top: 100px;
    margin: auto;
    height: 1fr;
    width: 900px;
    box-shadow: 5px 5px lightgray;
}

.project-content {
    display: block;
    padding: 50px;
    align-content: center;
    
    height: 1fr;
    width: 900px;
}

.project-thumbnail {
    display: block;
    justify-content: center;
}

figure img{
    width: 500px;
    border: 2px #111111 solid;
    box-shadow: 5px 5px gray;
}
figcaption {
    font-style: italic;
    
}

iframe {
    box-shadow: 5px 5px gray;
}

.code-block {
    display: flex;
    background-color: #111111;
    width: 800px;
    height: 550px;
    margin: 0;
    box-shadow: 5px solid gray;
}

pre {
    margin: 0;
}

code {
    
    color: white;
}