p {
    font-family: 'Silkscreen';
    font-weight: 400;
}

h1 {
    font-family: 'Press Start 2P';
    font-weight: 400;
}

.contact-content{
    display: flex;
    background-color: darkgreen;
    top: 50%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 180px;
    width: 450px;
    
    box-shadow: 5px 5px gray;
}

.contact-text {
    display: block;
    margin: 20px 10px 15px 15px;
    height: 200px;
    width: 450px;
    border-radius: 50px;
}

.about-me-text{
    font-family: 'Bitter';
    font-weight: 400;
    padding: 10%;
}

.about-me-content{
    display: flex;
    background-color: gray;
    top: 50%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 1fr;
    width: 450px;
    
    box-shadow: 5px 5px darkgreen;
}


figure img{
    width: 300px;
    border: 2px #111111 solid;
    box-shadow: 5px 5px gray;
}